<div class="h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 m-auto overflow-hidden">
    <div class="max-w-md w-full space-y-8">
      <div>
        <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
          alt="Workflow">
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
          Sign in to your account
        </h2>
      </div>
      <form class="mt-8 space-y-6 loginForm">
        <input type="hidden" name="remember" value="true">
        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <label for="email-address" class="sr-only">Email address</label>
            <input id="email-address" name="email" type="email" autocomplete="email" required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Email address">
          </div>
          <div>
            <label for="password" class="sr-only">Password</label>
            <input id="password" name="password" type="password" autocomplete="current-password" required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Password">
          </div>
        </div>
        <div>
          <button type="submit"
            class=" submit relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Sign in
          </button>
        </div>
      </form>
    </div>
    <form action="/ticket/from=?to=?" method="get">
      <button>push</button>
    </form>
    <div class="p-2 toast hidden">
      <div class="fixed
        top-0
        inset-x-0
        mx-auto
        max-w-max
        mt-10
        inline-flex
        items-center
        bg-zinc-700
        leading-none
        text-white
        rounded-full
        p-2
        shadow
        text-teal text-sm">
        <span class="inline-flex
          bg-red-600
          text-white
          rounded-full
          h-6
          px-3
          justify-center
          items-center">Oops!</span>
        <span class="inline-flex px-2">incorrect credentials</span>
      </div>
    </div>
  </div>
  <!-- <script>
    const email = document.querySelector('.email')
    const password = document.querySelector('.password')
    const submit = document.querySelector('.loginForm')

    submit.addEventListener('submit', e => {
      e.preventDefault()
      fetch('http://localhost:5000/api/admins')
        .then((response) => response.json())
        .then((data) => {
           data.map((admin) => {
            if (admin.email == submit.email.value && admin.password == submit.password.value) {
              location.replace('/adminPanel')
            }else {
              toast.classList.remove("hidden");
            setTimeout(() => {
              toast.classList.add("hidden");
            }, 2000);
            }
           })
        
          }
        )
    })
  </script> -->