<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../includes/head'); %>
</head>

<body>
  <header><%- include('../includes/header'); %></header>
  <main class="">
    <h3 class="pt-4 mx-14 text-2xl pl-[5em]">Question nd Subjects Managements</h3>
    <div>
      <%- include('../components/subjectsForm.ejs'); %>

    </div>

  </main>
</body>

</html>